<a href="https://colab.research.google.com/github/GuillaumeArp/Wild_Notebooks/blob/main/Helping_Statisticians_EN_Part_3_Guillaume_Arp.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


## Mathematical functions that need coding
![Find x](https://www.mathwarehouse.com/jokes/images/find-x-funny-math-image-joke.webp)

**Now the statisticians are begging you to code ready-made math functions for them. Below are the functions they use most often. Code the function in the cells below ;-) :**

- Square of a number: Create a function that returns the square of a number.
- Cube of a number: Create a function that returns the cube of a number.
- Absolute value: Create a function that returns the absolute value of a number.
- Factorial of a number: Create a function that returns the factorial of a number.
- Mode of a list of numbers: Create a function that returns the mode of a list of numbers.
- Average of a list of numbers: Create a function that returns the average of a list of numbers.
- Minimum of a list of numbers: Create a function that returns the minimum from within a list of numbers.
- Maximum of a list of numbers: Create a function that returns the maximum from within a list of numbers.

**Yes, all those functions already exist in dedicated modules, and you may not reuse them, unfortunately: you may only use loops, conditionals, basic structures, `len`, addition, subtraction, multiplication, division and powers.**

**Don't forget to test your functions with at least two possible cases!**

In [ ]:
# Function that returns the square of a number.

def square_num(num):
    return num ** 2

square_num(3)

9

In [ ]:
# Function that returns the cube of a number.

def cube_num(num):
    return num ** 3

cube_num(3)

27

In [ ]:
# Function that returns the absolute value of a number.

def abs_num(num):
  if num > 0:
    return num
  else:
    return -num

abs_num(-8)

8

In [ ]:
# Function that returns the factorial of a number.

def fact_num(num):
  if num < 0:
    factored_num = 0
  elif num == 0 or num == 1:
    factored_num = 1
  else:
    factored_num = 1
    for i in range(1, num+1):
      factored_num *= i
  return factored_num

fact_num(7)

5040

In [ ]:
# Function that returns the mode of a list of numbers.

test_list = [0,1,2,3,4,5,1,3,5,3,3,5,3,8,8,8,8,8,8,8,8,8,8]

def mode_list(lst):
  freq_table = {}
  for i in lst:
    if i in freq_table:
      freq_table[i] += 1
    else:
      freq_table[i] = 1

  max_count = 0
  for j in freq_table.values():
    if j > max_count:
      max_count = j


  for k, v in freq_table.items():
    if v == max_count:
      return k  

mode_list(test_list)

8

In [ ]:
# Function that returns the average of a list of numbers.

test_list = [0, 1, 2, 3, 4, 5, 1, 3, 5, 3, 3, 5, 3]

def avg_list(lst):
  total = 0
  for i in lst:
    total += i

  return total / len(lst)

avg_list(test_list)

2.923076923076923

In [ ]:
# Function that returns the minimum from within a list of numbers.

test_list = [0, 1, 2, 3, 4, 5, 1, 3, 5, 3, 3, 5, 3, 8, 846413165265]

def min_list(lst):
  item_min = 10 ** 38
  for i in lst:
    if i < item_min:
      item_min = i

  return item_min

min_list(test_list)

0

In [ ]:
# Function that returns the maximum from within a list of numbers.

test_list = [0, 1, 2, 3, 4, 5, 1, 3, 5, 3, 3, 5, 3, 8, -849614665655464652, 6468468438456846876453413456846]

def max_list(lst):
  item_max = -10 ** 38
  for i in lst:
    if i > item_max:
      item_max = i

  return item_max

max_list(test_list)

6468468438456846876453413456846