<a href="https://colab.research.google.com/github/GuillaumeArp/Wild_Notebooks/blob/main/Pandas_Part_4_Guillaume_Arp.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Mission

Still using this dataset: http://bit.ly/imdbratings
- Which actor is mentioned the most often?

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
df_imdb = pd.read_csv('https://raw.githubusercontent.com/justmarkham/pandas-videos/master/data/imdb_1000.csv', sep=',')
df_imdb.head()

   star_rating  ...                                        actors_list
0          9.3  ...  [u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt...
1          9.2  ...    [u'Marlon Brando', u'Al Pacino', u'James Caan']
2          9.1  ...  [u'Al Pacino', u'Robert De Niro', u'Robert Duv...
3          9.0  ...  [u'Christian Bale', u'Heath Ledger', u'Aaron E...
4          8.9  ...  [u'John Travolta', u'Uma Thurman', u'Samuel L....

[5 rows x 6 columns]

In [ ]:
df_imdb['actors_list'] = df_imdb['actors_list'].apply(eval)

In [ ]:
df_imdb.head()

   star_rating  ...                                      actors_list
0          9.3  ...        [Tim Robbins, Morgan Freeman, Bob Gunton]
1          9.2  ...           [Marlon Brando, Al Pacino, James Caan]
2          9.1  ...       [Al Pacino, Robert De Niro, Robert Duvall]
3          9.0  ...    [Christian Bale, Heath Ledger, Aaron Eckhart]
4          8.9  ...  [John Travolta, Uma Thurman, Samuel L. Jackson]

[5 rows x 6 columns]

In [ ]:
df = df_imdb.explode('actors_list')

In [ ]:
df['actors_list'].value_counts()

Robert De Niro      18
Clint Eastwood      14
Tom Hanks           14
Brad Pitt           14
Al Pacino           13
                    ..
Hailee Steinfeld     1
Sean Gullette        1
Machiko Kyô          1
Christoph Waltz      1
Otto Sander          1
Name: actors_list, Length: 1777, dtype: int64

In [ ]:
print(f"The actor mentioned most often is {df['actors_list'].value_counts().index[0]}.")

The actor mentioned most often is Robert De Niro.