<a href="https://colab.research.google.com/github/GuillaumeArp/Wild_Notebooks/blob/main/Pyhton_Shorthand_sybntax_Guillaume_Arp.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Une fonction qui convertit des montants en dollars vers des montants en euros (prends le cours euro/dollar du jour où tu fais la quête).

In [ ]:
def dollar_to_euro_long(num):
  return num * 0.86

dollar_to_euro_long(12)

10.32

In [ ]:
dollar_to_euro = lambda x: x * 0.86

dollar_to_euro(12)

10.32

Une fonction qui renvoie la somme des nombres pairs présents dans une liste contenant des nombres entiers.

In [ ]:
def sum_even(lst):
  sum_list = 0
  for i in lst:
    if i % 2 == 0:
      sum_list += i
  return sum_list

sum_even(range(13))

42

In [ ]:
even_num = lambda x: sum([i for i in x if i % 2 == 0])

even_num(range(13))

42

Un script qui convertit une liste de nombres entiers positifs ou négatifs) en une nouvelle liste contenant les valeurs absolues.

In [ ]:
test_list = [0, 3, -6, 9, 12, -15, 18, -21, 24, 27]

In [ ]:
def list_abs(lst):
  new_list = []
  for i in lst:
    new_list.append(abs(i))
  return new_list

list_abs(test_list)

[0, 3, 6, 9, 12, 15, 18, 21, 24, 27]

In [ ]:
abs_list = lambda x: [abs(i) for i in x]

abs_list(test_list)

[0, 3, 6, 9, 12, 15, 18, 21, 24, 27]