<a href="https://colab.research.google.com/github/GuillaumeArp/Wild_Notebooks/blob/main/Python_and_tuples_Guillaume_Arp.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Mission 1

Create a tuple of your choice containing 10 elements in this order:
- 3 integers
- 3 strings
- 2 lists containing 3 items each
- 2 dictionaries containing 3 items (3 key/value pairs) each

Now, access the second-to-last item in the second list.

In [ ]:
my_tuple = (1, 4, 9, "our", "cats", "rule", [10, 20, 30], ["python", "is", "love"], {"best_cat": "Rayure", "also_super_cool_cat": "Tako", "kitty_cat": "Dango"}, {"raclette_score": 10, "pasta_score": 7, "cucumber_score": 1})

In [ ]:
my_tuple[7][-2]

'is'

# Mission 2

In the same tuple, access the last 4 elements using slicing

In [ ]:
print(my_tuple[-4:])

([10, 20, 30], ['python', 'is', 'love'], {'best_cat': 'Rayure', 'also_super_cool_cat': 'Tako', 'kitty_cat': 'Dango'}, {'raclette_score': 10, 'pasta_score': 7, 'cucumber_score': 1})

# Mission 3

Change the value of the 4th element (the 1st string) of your tuple (oh yes it's possible!)

In [ ]:
my_tuple = list(my_tuple)
my_tuple[3] = "all of our"
my_tuple = tuple(my_tuple)

In [ ]:
print(my_tuple)

(1, 4, 9, 'all of our', 'cats', 'rule', [10, 20, 30], ['python', 'is', 'love'], {'best_cat': 'Rayure', 'also_super_cool_cat': 'Tako', 'kitty_cat': 'Dango'}, {'raclette_score': 10, 'pasta_score': 7, 'cucumber_score': 1})

# Mission 4

Create 2 tuples that contain only integers.
Create a script that compares them to each other and indicates which one of the tuples returns the highest total value after adding all their values together.

In [ ]:
tuple_int_1 = (1, 7, 12, 19, 54)
tuple_int_2 = (5, 9, 18, 21, 49)

count_1 = 0
count_2 = 0
for i in tuple_int_1:
  count_1 += i

for j in tuple_int_2:
  count_2 += j

if count_1 > count_2:
  print("Tuple 1 has the highest total value")
elif count_2 > count_1:
  print("Tuple 2 has the highest total value")
else:
  print("Both tuples have the same total value")

Tuple 2 has the highest total value

# Mission 5

Here's a tuple:

my_tuple_2 = ("data analyst", "data scientist", "data engineer", "data architect")

Create a script that allows you to change one of the values of "my_tuple" by indicating the position of the value you want to change, as well as the new value.

In [ ]:
my_tuple_2 = ("data analyst", "data scientist", "data engineer", "data architect")

def change_tuple_value(tup, index, value):
  if index > len(tup) - 1:
    return "The selected index is out of range of this tuple"
  else:
    tup = list(tup)
    tup[index] = value
    tup = tuple(tup)
    return tup

In [ ]:
change_tuple_value(my_tuple_2, 3, "data big brain")

('data analyst', 'data scientist', 'data engineer', 'data big brain')