<a href="https://colab.research.google.com/github/GuillaumeArp/Wild_Notebooks/blob/main/Cross_Validation_Guillaume_Arp.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
from sklearn.model_selection import cross_val_score
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split

In [ ]:
df = pd.read_csv('https://web.stanford.edu/class/archive/cs/cs109/cs109.1166/stuff/titanic.csv')
df.head()

   Survived  Pclass  ... Parents/Children Aboard     Fare
0         0       3  ...                       0   7.2500
1         1       1  ...                       0  71.2833
2         1       3  ...                       0   7.9250
3         1       1  ...                       0  53.1000
4         0       3  ...                       0   8.0500

[5 rows x 8 columns]

In [ ]:
# Factorize the Sex column

df['Sex_nb'] = df['Sex'].factorize()[0]
df.head()

   Survived  Pclass  ...     Fare Sex_nb
0         0       3  ...   7.2500      0
1         1       1  ...  71.2833      1
2         1       3  ...   7.9250      1
3         1       1  ...  53.1000      1
4         0       3  ...   8.0500      0

[5 rows x 9 columns]

In [ ]:
# Define the variables for the Logistic Regression classification model

cols = ['Pclass', 'Age', 'Siblings/Spouses Aboard', 'Parents/Children Aboard', 'Fare', 'Sex_nb']

X = df[cols]
y = df['Survived']

In [ ]:
# Train, Test, Split #1

X_train, X_test, y_train, y_test = train_test_split(X, y, train_size=0.75)

model = LogisticRegression(max_iter=2000).fit(X_train, y_train)

print(f"Accuracy score on the train dataset: {model.score(X_train, y_train)}")
print(f"Accuracy score on the test dataset: {model.score(X_test, y_test)}")

Accuracy score on the train dataset: 0.8030075187969925
Accuracy score on the test dataset: 0.7972972972972973

In [ ]:
# Train, Test, Split #2

X_train, X_test, y_train, y_test = train_test_split(X, y, train_size=0.75)

model = LogisticRegression(max_iter=2000).fit(X_train, y_train)

print(f"Accuracy score on the train dataset: {model.score(X_train, y_train)}")
print(f"Accuracy score on the test dataset: {model.score(X_test, y_test)}")

Accuracy score on the train dataset: 0.806015037593985
Accuracy score on the test dataset: 0.7882882882882883

In [ ]:
# Train, Test, Split #3

X_train, X_test, y_train, y_test = train_test_split(X, y, train_size=0.75)

model = LogisticRegression(max_iter=2000).fit(X_train, y_train)

print(f"Accuracy score on the train dataset: {model.score(X_train, y_train)}")
print(f"Accuracy score on the test dataset: {model.score(X_test, y_test)}")

Accuracy score on the train dataset: 0.8135338345864662
Accuracy score on the test dataset: 0.7972972972972973

In [ ]:
# All 3 scores are different but remain quite close
# We will now use the cross validation method instead with 6 splits

cv_score = cross_val_score(LogisticRegression(max_iter=2000), X, y, cv=6)
cv_score

array([0.77702703, 0.80405405, 0.79054054, 0.78378378, 0.7972973 ,
       0.81632653])

In [ ]:
# The scores are all pretty close and don't vary much from the split scores, the model looks ok
# Let's now calculate the mean of the cross validation scores :

cv_mean = np.mean(cv_score)
cv_mean

0.7948382055524913

In [ ]:
# Now the standard deviation

cv_std = np.std(cv_score)
cv_std

0.01297841384343086

In [ ]:
# Very small standard deviation and the mean is very close to the split scores, the model is good to go