<a href="https://colab.research.google.com/github/GuillaumeArp/Wild_Notebooks/blob/main/2021_Q1_Checkpoint_1_data_Guillaume_Arp.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

C'est ton premier checkpoint.
Les 5 exercices sont indépendants. Tu peux donc les effectuer dans l'ordre que tu préfères.

Essaye de finir ce checkpoint en 4h. Si tu n'as pas tout fini, ce n'est pas grave. Tu pourras le reprendre plus tard, tu indiqueras simplement en commentaire ce que tu as fait a posteriori.
Nous t'avons indiqué des durées estimatives. Evidemment chacun a ses forces et ses faiblesses, avance donc à ton rythme. Cependant, si tu vois que tu dépasses une durée, ne reste pas bloqué, passe à l'exercice suivant. Tu pourras revenir à la fin sur ce que tu n'as pas fini.

#SQL - 45 min

A partir de la base de données client que [tu trouveras ici](https://www.w3schools.com/sql/trysql.asp?filename=trysql_op_in), crée une requête SQL qui fournit les noms de chaque catégorie, le chiffre d'affaire associé à cette catégorie, et le prix moyen pondéré des produits vendus pour cette catégorie. 

Le chiffre d'affaire sera arrondi à l'unité la plus proche, et le prix moyen comportera 2 décimales.

Ce tableau devra être trié pour avoir les catégories avec le chiffre d'affaire le plus élevé en premier.

Le code SQL devra être copié / collé dans un bloc de code ci-dessous.



*** Voici les premières lignes attendues ***
*********************

Categories | Chiffre_d_affaire | Prix_moyen
- |:-: | -:
Beverages | 99465 | 43.45
Dairy Products | 69921 | 26.88
... | ... | ...

Le lien précédent te permet de travailler directement dans ton navigateur (Chrome uniquement, ne fonctionne pas sur Firefox). Si tu préfères travailler en local sur MySQL Workbench, [voici un script pour charger la base](
https://github.com/AndrejPHP/w3schools-database/blob/master/w3schools.sql).

-- Ton code SQL ici :

In [1]:
# SELECT c.CategoryName AS Categories, ROUND(SUM(od.Quantity * p.Price)) AS Chiffre_d_affaire, ROUND(SUM(od.Quantity * p.Price)/ SUM(od.Quantity), 2) AS Prix_moyen
# FROM Categories c
# JOIN Products p ON p.CategoryID = c. CategoryID
# JOIN OrderDetails od on od.ProductID = p.ProductID
# GROUP BY 1
# ORDER BY 2 DESC;

# Tableur - 45 min

Le responsable du reporting mensuel est absent, et il faut absolument envoyer le reporting de chiffre d'affaire (quantité * prix de chaque produit) aujourd'hui... mais impossible de remettre la main sur le fichier du mois dernier !

Heureusement, tu as trouvé comment extraire les données, [tu les trouveras ici.](https://docs.google.com/spreadsheets/d/1T7zh6Swn4Yj8Feu-xcp-B7xeOQfBoBSWn7sRjx07GvI/edit?usp=sharing)

Tu vas maintenant devoir recréer un graphique qui ressemblera au maximum à celui-ci, mais en incluant les données de septembre 2020. Tu en profiteras pour ajouter l'affichage des mois sous les colonnes. Tu essaieras au maximum d'utiliser les tableaux croisés dynamiques pour faire ca.

Tu incluras l'image du graphique dans ce notebook, et tu indiqueras également le lien de ton google spreadsheet que tu auras pris soin de partager.

![Tableur checkpoint](https://github.com/murpi/wilddata/raw/master/checkpoint1_withoutdate.png)

[Lien du spreadhseet](https://docs.google.com/spreadsheets/d/1BVCGeJIuFC5y9F0wPhCMyP0n81kQxojZiXfYi49Rodc/edit?usp=sharing)

![CA mensuel.png]()

# Python : Algo 1 - 30 min

Un magasin importe des produits américains et les revend sur le marché européen. Il propose à ses clients un discount pour les produits les plus chers (10% de réduction à partir de 500 euros d'achat, 15% à partir de 1000 euros, et 20% à partir de 2000 euros).

Le magasin a une liste de prix en dollars et fait appel à tes services pour déterminer pour chaque prix, le montant que paiera le client en euros (après application de la remise).

Crée une fonction `dollar_to_euro` qui prend en paramètre un nombre décimal et retourne le montant converti en euro (dans le sens dollar vers euro, prends le taux en vigueur le jour du checkpoint).

In [1]:
def dollar_to_euro(num):
  conversion_rate = 0.86
  return num * conversion_rate

Crée une fonction `discount` qui prend en paramètre un nombre décimal et retourne le pourcentage de réduction :
- 0.10 si l'argument est supérieur à 500
- 0.15 si l'argument est supérieur à 1000
- 0.20 si l'argument est supérieur à 2000

In [2]:
def discount(num):
  if num >= 2000:
    return 0.20
  elif num >= 1000:
    return 0.15
  elif num >= 500:
    return 0.10

Utilise tes deux fonctions pour afficher une phrase pour chacun des montants de cette liste de prix en dollars, indiquant le montant à payer en euros.

In [3]:
price_list = [256, 1458, 2387, 669, 508, 1365]

for i in price_list:
  if dollar_to_euro(i) < 500:
    print(f"Prix à payer : {dollar_to_euro(i)} €")
  else:
    print(f"Prix à payer : {round(dollar_to_euro(i) - discount(i) *  dollar_to_euro(i), 2)} €")

Prix à payer : 220.16 €
Prix à payer : 1065.8 €
Prix à payer : 1642.26 €
Prix à payer : 517.81 €
Prix à payer : 436.88 €
Prix à payer : 997.82 €

# Python : Algo 2 - 1h

Ecris une fonction *monnaie_a_rendre()* qui prend deux arguments obligatoires : 
- montant de l'achat : float, supérieur à 0
- monnaie du client : integer, supérieur à 0

La fonction devra afficher la monnaie à rendre au client en un minimum de billets/pièces. 

Attention, si la monnaie du client est insuffisante (inférieure à l'achat), il faudra l'indiquer.

Exemple : 


```
monnaie_a_rendre(26.57 , 40)
>>> Nb billets 10 euros : 1
>>> Nb pièces 2 euros : 1
>>> Nb pièces 1 euro : 1
>>> Nb pièces 20 cents : 2
>>> Nb pièces 2 cents : 1
>>> Nb pièces 1 cent : 1
```

In [13]:
# Ta fonction ici :
def monnaie_a_rendre(achat, monnaie):
  if achat <= 0 or monnaie <= 0:
    return "Merci de saisir des valeurs supérieures à 0."
  elif monnaie < achat:
    return "Monnaie insuffisante pour régler cet achat."
  else:
    restant = monnaie - achat
    monnaie_dict = {
        200: 0,
        100: 0,
        50: 0,
        20: 0,
        10: 0,
        5: 0,
        2: 0,
        1: 0,
        0.5: 0,
        0.2: 0,
        0.1: 0,
        0.05: 0,
        0.02: 0,
        0.01: 0,
        }

    for k, v in monnaie_dict.items():
      monnaie_dict[k] = restant // k
      restant %= k
      if restant < 0.01:
        restant = round(restant, 2)
      elif restant == 0.0:
        break

    sorted_monnaie = sorted(monnaie_dict.items(), reverse=True)
      
    for i in sorted_monnaie:
      if int(i[1]) == 0:
        continue
      elif i[0] >= 10:
        print(f" Nb billets {i[0]} euros : {int(i[1])}")
      elif i[0] == 2:
        print(f" Nb pièces {i[0]} euros : {int(i[1])}")
      elif i[0] == 1:
        print(f" Nb pièces {i[0]} euro : {int(i[1])}")
      elif i[0] < 1:
        print(f" Nb pièces {int(i[0] * 100)} cents : {int(i[1])}")
      elif i[0] == 0.01:
        print(f" Nb pièces {int(i[0] * 100)} cent : {int(i[1])}")

In [14]:
# Pour tester :
monnaie_a_rendre(26.57 , 40)

 Nb billets 10 euros : 1
 Nb pièces 2 euros : 1
 Nb pièces 1 euro : 1
 Nb pièces 20 cents : 2
 Nb pièces 2 cents : 1
 Nb pièces 1 cents : 1

In [21]:
# Edit : solution ajoutée dans la première boucle pour rendre correctement le 0.01 €, intégrée hors délai à 13h58 après retour sur la solution rendue :

#       if restant < 0.01:
#         restant = round(restant, 2)

In [7]:
# Pour tester :
monnaie_a_rendre(49 , 635)

 Nb billets 200 euros : 2
 Nb billets 100 euros : 1
 Nb billets 50 euros : 1
 Nb billets 20 euros : 1
 Nb billets 10 euros : 1
 Nb pièces 1 euro : 1

#NUMPY - 1h
Exécute le code suivant, puis réponds aux questions.

La matrice contient 12 *colonnes* correspondant chacune à un mois de l'année, et 31 *lignes*. Attention, certaines lignes ont des valeurs `nan` pour les mois de 28 et 30 jours.

In [8]:
# Exécute le code ci-dessous sans rien modifier
import numpy as np
import pandas as pd
temperatures_df = pd.read_csv("https://raw.githubusercontent.com/murpi/wilddata/master/temp2019.csv", skiprows = 3)
temperatures_df['jour'] = temperatures_df['DATE'].apply(lambda x: x[8:10])
temperatures_df['mois'] = temperatures_df['DATE'].apply(lambda x: x[5:7])
temperatures_array = temperatures_df.pivot_table(values = 'MAX_TEMPERATURE_C', index = 'jour' , columns='mois').to_numpy()
print("C'est chargé, ta matrice numpy est disponible sous le nom de variable : temperatures_array")

C'est chargé, ta matrice numpy est disponible sous le nom de variable : temperatures_array

In [9]:
temperatures_array

array([[ 9.,  9., 14., 18., 17., 29., 24., 27., 23., 19., 17.,  7.],
       [ 8.,  7., 13., 12., 15., 23., 25., 29., 24., 19., 14.,  7.],
       [ 6.,  8., 14., 10., 15., 20., 26., 29., 26., 19., 14.,  7.],
       [ 5.,  7., 11., 10., 11., 19., 28., 26., 20., 17., 13.,  8.],
       [ 6., 10., 13., 10., 12., 16., 30., 25., 19., 18., 12.,  7.],
       [ 5., 12., 12., 10., 15., 18., 31., 23., 23., 18., 13., 11.],
       [10., 11., 11., 14., 14., 15., 28., 25., 22., 14., 11., 13.],
       [10., 11., 12., 12., 15., 18., 27., 28., 21., 18., 11., 13.],
       [ 7., 12., 13., 16., 15., 16., 25., 23., 17., 16., 10., 11.],
       [ 7., 11., 12., 14., 15., 17., 28., 23., 22., 18., 11., 11.],
       [10., 10., 11., 14., 16., 15., 26., 23., 22., 20., 11.,  9.],
       [ 9., 12., 11., 14., 16., 16., 26., 22., 24., 21., 11., 12.],
       [10., 10., 10., 12., 16., 18., 27., 22., 28., 20.,  9., 10.],
       [10., 13., 11.,  9., 18., 19., 26., 20., 29., 20., 11., 12.],
       [ 9., 15., 13., 14., 18., 18., 26., 22., 31., 16.,  8., 10.],
       [ 8., 14., 11., 15., 17., 19., 29., 22., 21., 16.,  9., 11.],
       [ 9., 15., 11., 19., 17., 25., 27., 19., 27., 17.,  8., 12.],
       [ 7., 12., 11., 21., 14., 28., 22., 21., 23., 16., 10., 12.],
       [11., 12., 12., 24., 17., 20., 26., 21., 23., 16.,  9., 13.],
       [ 7., 13., 13., 21., 18., 20., 25., 23., 27., 15.,  7., 12.],
       [ 7., 17., 15., 21., 20., 20., 26., 26., 28., 16., 11., 11.],
       [ 8., 17., 18., 19., 21., 23., 33., 28., 21., 16., 10., 10.],
       [ 7., 18., 17., 18., 21., 27., 39., 30., 20., 15., 12., 10.],
       [ 7., 14., 13., 14., 20., 23., 33., 33., 20., 14., 12., 14.],
       [11., 15., 12., 13., 19., 26., 32., 30., 17., 18., 13., 11.],
       [10., 19., 12., 14., 17., 31., 22., 33., 19., 19., 14., 12.],
       [ 8., 20., 13., 13., 19., 34., 23., 29., 19., 15., 13., 13.],
       [ 8., 13., 14., 12., 15., 34., 23., 24., 19., 12., 13., 11.],
       [ 9., nan, 16., 16., 15., 32., 24., 25., 20., 14., 13.,  9.],
       [ 7., nan, 17., 18., 20., 26., 21., 30., 21., 17.,  9., 12.],
       [ 8., nan, 19., nan, 25., nan, 23., 23., nan, 16., nan, 10.]])

Questions

In [10]:
# Affiche un array NumPy à partir de l'array "temperatures_array", 
# avec le nombre de jours par mois où la température a été strictement inférieure à 10 degrés.

array_temp_less_10 = sum(np.where(temperatures_array < 10, 1, 0))
array_temp_less_10

array([23,  4,  0,  1,  0,  0,  0,  0,  0,  0,  7,  7])

In [11]:
# Au total sur l'année, combien y a-t-il eu de jours où la température était supérieure à 20 degrés ?

array_temp_more_20 = np.sum(np.where(temperatures_array > 20, 1, 0))
array_temp_more_20

101

In [24]:
# Quelle a été la température moyenne du mois de mars ?

march_mean_temp = round(np.mean(temperatures_array[:, 2]), 1)
march_mean_temp

13.1

In [25]:
# Quelle a été la température minimale du mois de juin ?

june_min_temp = np.nanmin(temperatures_array[:, 5])
june_min_temp

15.0

# POO (optionnel)

**Programmation orientée objet**

Il t'est demandé de créer une nouvelle classe "sentence" qui va hériter de l'ensemble des méthodes de la classe "str" (*les chaines de caractères que tu connais bien en python*).

Tu devras ajouter une méthode .clean() qui nettoyera les espaces en début et en fin de chaine, mettra en majuscule le premier caractère, et tous les autres caractères en minuscule, et ajoutera un point "." à la fin.

Tu montreras le résultats en appliquant la méthode à la phrase ci-dessous.

In [15]:
# Tu mettras la création de ta classe ici :
class sentence(str):

  def clean(self):
    return self.strip().capitalize() + "."



# Ce code permettra de tester :
variable = " bonjour, AUJourd'hui c'EST le cheCKpoint   "
variable2 = "   aloRs ON s'amuse à éCrIrE n'iMportE commENT il PaRaiT, HUM HUM huM      "
test = sentence(variable)
test2 = sentence(variable2)
test.clean()

"Bonjour, aujourd'hui c'est le checkpoint."

In [16]:
test2.clean()

"Alors on s'amuse à écrire n'importe comment il parait, hum hum hum."